            .header
            {
                padding: 10px;
                text-align: center;
          background:black;
                color: white;
                font-family: cambria;
            }
            
            .footer 
            {
                background-color: pink;
                padding: 10px;
                text-align:center;
                color: black;
                font-family: cambria;
            }
			
			.login
			{
				text-align: center;
				background-image: url("result2.jpg");
				font-family: cambria;
				padding: 10px;
                text-align:left;
			}
			
			
			
            

